@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$main-font: "Roboto", sans-serif;

$mobile: 640px;
$tablet: 1022px;
$desktop: 1200px;

$background-color: rgb(33, 53, 62);