@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$main-font: "Roboto", sans-serif;

$mobile: 640px;
$tablet: 1022px;
$desktop: 1200px;

$background-color: rgb(33, 53, 62);

@mixin title() {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 50px;
    @media (min-width:$mobile) and (max-width:$tablet) {
        font-size: 30px;
    }
    @media (min-width:$tablet) {
        font-size: 30px;
    }
};

.hidden {
    display: none;
}